@tailwind base;
@tailwind components;
@tailwind utilities;

.checkout-button{
  position: relative;
}
.count{
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: rgb(221, 45, 45);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
.course-name-size{
  font-size: 10px;
}
.stamp{
  position: relative;
}
.paw{
  position: absolute;
  z-index: 2;
  color: rgb(226, 93, 93);
}
.date{
  position: absolute;
  z-index: 20;
}

/* スマホ */
@media (max-width: 576px) {
  .course-desc{
    font-size: 12px;
  }
  .course-block, .option-edit{
    width: 95%;
  }
  .paw{
    position: absolute;
    z-index: 2;
    color: rgb(226, 93, 93);
    font-size: 50px;
  }
  .stamp-date{
    font-size: 8px;
  }
  .course-color{
    width: 30px;
    height: 10px;
    border-radius: 40%;
    
  }
  .course-name-font{
    font-size: 9px;
  }
  .record-font{
    font-size: 13.5px;
  }
  .calendar{
    height: 80px;
    width: 42px;
  }
  .event-container{
    height: 50px; /* 一定の高さに調整 */
    overflow-y: auto; /* イベントが多い場合はスクロールバーを表示 */
  }
}

/* タブレット */
@media (min-width: 577px) and (max-width: 768px) {
  .course-desc{
    font-size: 12px;
  }
  .course-block, .option-edit{
    width: 90%;
  }
  .paw{
    position: absolute;
    z-index: 2;
    color: rgb(226, 93, 93);
    font-size: 50px;
  }
  .stamp-date{
    font-size: 8px;
  }
  .course-color{
    width: 30px;
    height: 10px;
    border-radius: 40%;
  }
  .calendar{
    height: 90px;
    width: 67px;
  }
  .event-container{
    height: 70px; /* 一定の高さに調整 */
    overflow-y: auto; /* イベントが多い場合はスクロールバーを表示 */
  }
}

/* ラップトップ以上 */
@media (min-width: 769px) {
  .course-block, .option-edit{
    width: 80%;
  }
  .course-color{
    width: 30px;
    height: 10px;
    border-radius: 40%;
  }
  .calendar{
    height: 90px;
    width: 90px;
  }
  .event-container{
    height: 80px; /* 一定の高さに調整 */
    overflow-y: auto; /* イベントが多い場合はスクロールバーを表示 */
  }
}